body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background:url(login background.png) ; 
    background-size: cover;
    margin: 0;
    padding: 0;
    background-position:center;
  }
  
  

  div{
    top:50%;
    left:30%;
    position: absolute;
    transform: translate(-50%,-50%);
box-sizing: border-box;

  }
 
  img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    

  }
