body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background:url("login .png") ; 
    background-size: cover;
    margin: 0;
    padding: 0;
    background-position:center;
  }
  
  
h1{
margin: 0;
padding: 0 0 20px;
text-align: left;
font-size: 32px;



}

  div{
    top:50%;
    left:30%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    background-color: aqua;
    width: 420px;
    height: 320px;
    padding: 30px 30px;
    
  }
 
 div img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: whitesmoke;
    position: absolute;
    top: -15%;
    left:40% 
  }

  div p{
    font-weight: bold;
  }
  div form{
    margin-bottom:20px;
  }

 div form input[type="text"], input[type="password"] {
border: none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
height: 40px;

 }


