body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background:url("login .png") ; 
    background-size: cover;
    margin: 0;
    padding: 0;
    background-position:center;
  }
  
  
h1{
margin: 0;
padding: 0 0 20px;
text-align: center;
font-size: 22px;



}

  div{
    top:50%;
    left:30%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    background-color: aqua;
    width: 420px;
    height: 320px;
    padding: 70px 30px;
    
  }
 
 div img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: whitesmoke;
    position: absolute;
    top: -50%;
    left:60% 
  }

  div form{
    bottom: 50%;
  }
