body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background:url("login .png") ; 
    background-size: cover;
    margin: 0;
    padding: 0;
    background-position:center;
  }
  
  
h1{
margin: 0;
padding: 0 0 125%;
text-align: left;
font-size: 137.5%;



}

  div{
    top:50%;
    left:30%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    background-color: aqua;
    width: 2625%px;
    height: 2000%;
    padding: 125% 187.5%;
    border-radius: 125%;
  }
 
 header img{
    width: 625%;
    height: 625%;
    background-color: whitesmoke;
    position: absolute;
    border-radius: 125%;
    padding: 0px ;
    top: -15%;
    left:40% ;
  }

  div p{
    font-weight: bold;
  }
  div form input{
    width: 100%;
  }

 div form input[type="text"], input[type="password"] {
border: none;
border-bottom: 6.25% solid #fff;
background: transparent;
outline: none;
height: 187.5%px;
color: #fff;
font-size: 100%;
border-radius: 125%;
 }

 div form input[type="submit"]{
  border:none;
  outline:none;
  height: 125%;
  color: gold;
  font-size: 100%;
 background: navy;
 border-radius: 125%;
 }

 div form input[type="submit"] :hover{
cursor: pointer;
background: white;
color: black;
 }

 div a{
  tect-decoration: none;
  font-size: 75%;
  line-height: 125%;
  color: blueviolet;
 }

 div a:hover{
  color:crimson;

 }
