body{
    font-family: Optima;
    background: src="https://www.shutterstock.com/image-photo/laptop-keyboard-stethoscope-on-blue-background-1907543080";
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  
  img{
    
  }
