body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background:url("login .png") ; 
    background-size: cover;
    margin: 0;
    padding: 0;
    background-position:center;
  }
  
  
h1{
margin: 0;
padding: 0 0 20px;
text-align: left;
font-size: 22px;



}

  div{
    top:50%;
    left:30%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    background-color: aqua;
    width: 420px;
    height: 320px;
    padding: 20px 30px;
    border-radius: 20px;
  }
 
 img{
    width: 100px;
    height: 100px;
   
  }

  div p{
    font-weight: bold;
  }
  div form input{
    width: 100%;
  }

 div form input[type="text"], input[type="password"] {
border: none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
height: 30px;
color: #fff;
font-size: 16px;
border-radius: 20px;
 }

 div form input[type="submit"]{
  border:none;
  outline:none;
  height: 20px;
  color: gold;
  font-size: 16px;
 background: navy;
 border-radius: 20px;
 }

 div form input[type="submit"] :hover{
cursor: pointer;
background: white;
color: black;
 }

 div a{
  teXt-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: blueviolet;
 }

 div a:hover{
  color:crimson;

 }
